<h2>What is WGTB?</h2>

<p>Simply put, it's a tool for recording the contents of your book collection, and keeping track of who the heck you loaned your books to!</p>

<p>We all know the story: you're looking at your book collection one day, trying to find a favourite read, and you soon realise it's missing. You say to yourself, "Who's got that book?".</p>

<p>As well as the standard details, such as author and genre, <strong>WGTB?</strong> allows you to take note when you loan a book to someone. No more will you be stumped about on whose shelf your book is collecting dust; or worse, whose dog has been chewing on it!</p>

<p>Another feature of <strong>WGTB?</strong> is the ability to filter your book collection based on:</p>
<ul>
 	<li>Genre</li>
 	<li>Format (including audio and eBook)</li>
 	<li>Fiction category</li>
 	<li>Loaned out status</li>
</ul>