
<div id="main" class="cf">
	<section id="book-list">
		<table>
			<tr>
				<th>Title</th>
				<th>Author</th>
			</tr>
			<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.author %></td>
			</tr>
			<% end %>
		</table>
	</section>
	<section id="book-data">
		<p>data data data</p>
	</section>
</div>