
<div id="main" class="cf">
	<section id="books-list">
		<table id="book">
			<tr>
				<th>Title</th>
				<th>Author(s)</th>
			</tr>
		</table>
	</section>
	<section id="books-data">
		

	</section>
</div>
<section id="filters">
	<div>
		<select name="filter-genre" id="filter-genre">
			<option value="">Choose a genre</option>
		</select>
		<select name="filter-category" id="filter-category">
			<option value="">Choose a category</option>
		</select>
	</div>
	<div>
		<select name="filter-format" id="filter-format">
			<option value="">Choose a format</option>
		</select>
		<select name="filter-loaned" id="filter-loaned">
			<option value="">Loan status</option>
		</select>
	</div>
</section>

<script>
	$(document).ready(function(){
// Load book list
		var options = {
			url: '/api/books',
			dataType: 'json'
		};

		$.ajax(options).done(function(books) {
			for (var i = 0; i < books.length; i++) {
				$tableRow = $('<tr>');
				$tableDataTitle = $('<td>').html(books[i].title);
				$tableDataAuthor = $('<td>').html(books[i].author);
				$tableRow.append($tableDataTitle).append($tableDataAuthor);
				$('#book').append($tableRow);
			}
		});

		// Load Genre selection list
		var options = {
			url: '/api/genres',
			dataType: 'json'
		};

		$.ajax(options).done(function(genres) {
			for (var i = 0; i < genres.length; i++) {
				$option = $('<option>').html(genres[i].name);
				$('#filter-genre').append($option);
			}
		});

		// Load Format selection list
		var options = {
			url: '/api/formats',
			dataType: 'json'
		};

		$.ajax(options).done(function(formats) {
			for (var i = 0; i < formats.length; i++) {
				$option = $('<option>').html(formats[i].name);
				$('#filter-format').append($option);
			}
		});

		// Load Category selection list
		var options = {
			url: '/api/categories',
			dataType: 'json'
		};

		$.ajax(options).done(function(categories) {
			for (var i = 0; i < categories.length; i++) {
				$option = $('<option>').html(categories[i].name);
				$('#filter-category').append($option);
			}
		});


	});
</script>