<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Who's Got That Book?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
	<script src="/js/jquery-1.11.2.js"></script>
	<script src="/js/books.js"></script>
</head>
<body>
	<div class="container cf">
		<header>
			<h1>Who's Got That Book?</h1>
			
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>

		<%= yield %>
	</div>
</body>
</html>