.container {
	width: 85%;
	margin: 0 auto;
}

header {
	margin-bottom: 30px;
}

h1 {
	text-align: center;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline;
}

#books-list ul {
	list-style: none;
	padding-left: 0;
}

#books-list li {
	cursor: pointer;
	margin-top: 10px;
}

#books-list, #book-data {
	width: 47.5%;
}

select {
	width: 40%;
}

input {
	width: 50%;
}

#books-list {
	/*background-color: linen;*/
	float: left;
}

#book-data {
	/*background-color: lime;*/
	float: right;
	/*text-align: center;*/
}

#book-form, #book-display {
	display: none;
}

#filterBtn {
	display: block;
	margin: 0 auto;
}

#filters {
	margin-top: 20px;
	/*background-color: red;*/
}

#filters .bottom, #filterBtn {
	margin-top: 20px;
}

#filter-genre, #filter-format {
	float: left;
}

#filter-category, #filter-loan {
	float: right;
}

#book-display h2, #book-display h3 {
	text-align: center;
}

#book-display h3 {
	font-style: italic;
}

.fieldName {
	font-weight: bold;
}

.newButton {
	margin-top: 30px;
}

.newBtn { 
	float: right;
	padding: 10px 10px;
}

.newBtn, .saveBtn, .editBtn, .delBtn, #filterBtn { 
	padding: 10px 10px;
}

.saveBtn, .newBtn {
	display: block;
	margin: 0 auto;
}

#displayButtons {
	text-align: center;
	/*background-color: blue;	*/
}


/*----------------------------------*/
/* Clearfix for floats              */
/*----------------------------------*/
.cf:before,
.cf:after {
   content:"";
   display:table;
}
.cf:after {
   clear:both;
}
.cf {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}