.container {
	width: 83.333333%; /* 800 / 960 = 0.83333333 */
	margin: 0 auto;
}

h1 {
	text-align: center;
}

ul {
	text-align: center;
}

li {
	display: inline;
}

.newButton, #books-list, #book-data, select {
	width: 47.5%; /* 380 / 800 = 0.475 */
}

.list-title {
	cursor: pointer;
}

#books-list {
	background-color: linen;
	float: left;
}

#book-data {
	background-color: lime;
	float: right;
	text-align: center;
}

#book-form, #book-display {
	display: none;
}

table {
	border-spacing: 20px;
	margin: 0 auto;
}

th {
	text-align: left;
}

#filterBtn {
	display: block;
	margin: 0 auto;
}

#filters {
	margin-top: 30px;
}

#filters .bottom, #filterBtn {
	margin-top: 20px;
}

#filter-genre, #filter-format {
	float: left;
}

#filter-category, #filter-loan {
	float: right;
}

h3 {
	font-style: italic;
}

.fieldName {
	font-weight: bold;
}

.newButton {
	float: right;
}

.newBtn {
	display: block;
	margin: 0 auto;
}


/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*----------------------------------*/
/* Clearfix for floats              */
/*----------------------------------*/
.cf:before,
.cf:after {
   content:"";
   display:table;
}
.cf:after {
   clear:both;
}
.cf {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}